import './{{pascalCase name}}.css';

export default class {{pascalCase name}} {
  constructor() {
    this.element = document.createElement('div');
    this.element.className = '{{camelCase name}}';

    this.render();
  }

  render() {
    // TODO: Add render logic here
    this.element.innerHTML = '<p>{{pascalCase name}} component works!</p>';
  }

  getElement() {
    return this.element;
  }
}
