.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn {
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  color: var(--button-color);
  background-color: var(--button-bg);
  border: var(--button-border);
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: var(--button-transition);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
}

.btn:hover {
  background-color: var(--button-hover-bg);
}

.btn:disabled {
  background-color: var(--button-disabled-bg);
  cursor: not-allowed;
  color: var(--button-disabled-color);
}
