.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

.column {
  grid-column-end: span 1;
}

@media (max-width: 768px) {
  .column {
    grid-column-end: span 2;
  }
}

.mobile-reverse {
  flex-direction: column-reverse;
}
