.header-toolbar {
  display: flex;
  gap: 20px;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  align-items: center;
  h1 {
    margin-right: 40px;
    font-family: sinete, sans-serif;
  }
}

.header-logo {
  height: 32px; /* or any size you prefer */
}

.theme-selector {
  padding: 0.25rem;
  font-size: 1rem;
}
