.typography {
  margin: 0;
  padding: 0;
  h1 {
    font-size: var(--font-size-32);
  }
  h2 {
    font-size: var(--font-size-24);
  }
  h3 {
    font-size: var(--font-size-20);
  }
  h4 {
    font-size: var(--font-size-18);
  }
  h5 {
    font-size: var(--font-size-16);
  }
  h6 {
    font-size: var(--font-size-14);
  }
  p {
    font-size: var(--font-size-16);
  }
}
