.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--logo-width);
  height: var(--logo-height);
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}
