.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: var(--nav-padding);
}

.navigation-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation-list li {
  margin-right: var(--nav-margin-right);
}

.navigation-list li a {
  color: var(--nav-link-color);
  transition: var(--nav-link-transition);
  font-size: var(--nav-link-font-size);
  padding-bottom: var(--nav-link-padding-bottom);
}

.navigation-list li a.active {
  color: var(--nav-link-active-color, var(--nav-link-hover-color));
  border-bottom: var(--nav-link-border-bottom);
}

.navigation-list li a:hover {
  color: var(--nav-link-hover-color);
  border-bottom: var(--nav-link-border-bottom);
}

.burger-button {
  display: none;
  font-size: var(--nav-burger-font-size);
  background: none;
  border: none;
  color: var(--nav-link-color);
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }
  .burger-button {
    display: block;
    margin-bottom: var(--nav-burger-margin-bottom);
  }

  .navigation-list {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .navigation-list li {
    padding: var(--nav-padding-mobile);
  }
}
