/* app.css */

/* General app styles */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  flex: 0 1 auto;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
  background-color: grey;
}
