/* app.css */
* {
  all: unset;
  display: revert;
}

/* General app styles */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 14px;
}

.header-container {
  flex: 0 1 auto;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden; /* Prevent content from overflowing */
}

.sidebar {
  flex: 0 0 240px; /* Fixed width for sidebar */
  overflow-y: auto; /* Allow sidebar to scroll */
}

.stage {
  flex: 1 1 auto; /* Allow stage to take remaining space */
  background-color: #efefef;
  border: 20px solid #dee2e6;
  overflow: auto; /* Allow stage content to scroll if needed */
}

h1 {
  font-size: 32px;
}
