/* app.css */

* {
  all: unset;
  display: revert;
}

/* General app styles */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 14px;
}

.header-container {
  flex: 0 1 auto;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
}

h1 {
  font-size: 32px;
}
