.cabalou-theme {
   div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  button,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-family: 'questa-grande', serif;
  }

  h1 {
    font-family: 'copperplate', serif;
  }

  /*colors*/
  --color-primary: #accf4e;
  --color-primary-dark: #354914;

  --color-secondary: #8f3557;
  --color-secondary-dark: #4a1a2c;
  --color-secondary-light: #e3cad4;

  /* Button */
  .btn {
    --btn-padding: var(--space-3) var(--space-12);
    --btn-font-size: var(--font-size-24);
    --btn-color: var(--color-text-white);
    --btn-bg: var(--color-primary);
    --btn-border: 2px solid var(--color-text-white);
    --btn-border-radius: none;
    --btn-transition: background-color 0.3s;

    --btn-hover-bg: var(--color-primary-dark);
    --btn-disabled-bg: var(--color-gray-600);
  }

  /* Link */
  .link {
    --link-margin-left: 0;
    --link-margin-right: var(--space-1);
    --link-color: var(--color-primary);
    --link-transition: color 0.2s ease-in-out;

    --link-hover-color: var(--color-primary-dark);
  }

  /* Navigation */
  .navigation {
    --nav-padding: 0;
    --nav-margin-right: var(--space-10);

    --nav-burger-font-size: var(--font-size-24);
    --nav-burger-link-color: var(--color-text-dark);
    --nav-burger-margin-bottom: var(--space-2);

    --nav-padding-mobile: var(--space-2) 0;

    .link {
      --nav-link-color: var(--color-text-dark);
      --nav-link-transition: color 0.2s ease-in-out;
      --nav-link-font-size: var(--font-size-24);
      --nav-link-padding-bottom: var(--space-1);

      --nav-link-hover-color: var(--color-secondary);

      --nav-link-hover-color: var(--color-secondary);
      --nav-link-border-bottom: 2px solid var(--color-secondary);
    }
  }

  /* Section */
  .section {
    --section-bg: var(--color-secondary-dark);
    --section-color: var(--color-text-white);
    --section-bg-minor: var(--color-bg);
    --section-color-minor: var(--color-text-dark);
    --section-padding: var(--space-2);
    --section-gap: var(--space-2);
    --section-content-max-width: 1200px;

    --section-padding-tablet: var(--space-1);
    --section-gap-tablet: var(--space-1);

    --section-padding-mobile: var(--space-1);
  }
}
