:root {
  --grid-column-gap: 1rem;
  --grid-row-gap: 1rem;
  --grid-mobile-column-gap: 0.5rem;
  --grid-mobile-row-gap: 0.5rem;
}

.dark-theme {
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  button,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-family: 'questa-grande', serif;
    font-weight: 400;
    font-style: normal;
  }
}

.dark-theme .grid {
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
}

.dark-theme .grid.mobile-reverse {
  flex-direction: column-reverse;
}

.dark-theme .btn {
  background-color: #343a40;
  color: white;
}

.dark-theme .btn:hover {
  background-color: #23272b;
}
