.default-theme {
   div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  button,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-family: 'balto', sans-serif;
  }

  /* Button */
  .btn {
    --btn-padding: var(--space-1) var(--space-2);
    --btn-font-size: var(--font-size-16);
    --btn-color: var(--color-text-white);
    --btn-bg: var(--color-primary);
    --btn-border: none;
    --btn-border-radius: var(--space-1);
    --btn-transition: background-color 0.3s;

    --btn-hover-bg: var(--color-primary-dark);
    --btn-disabled-bg: var(--color-gray-600);
  }

  /* Link */
  .link {
    --link-margin-left: 0;
    --link-margin-right: var(--space-1);
    --link-color: var(--color-primary);
    --link-transition: color 0.2s ease-in-out;

    --link-hover-color: var(--color-primary-dark);
  }

  /* Navigation */
  .navigation {
    --nav-padding: var(--space-2);
    --nav-margin-right: var(--space-2);

    --nav-burger-font-size: var(--font-size-24);
    --nav-burger-link-color: var(--color-primary);
    --nav-burger-margin-bottom: var(--space-2);

    --nav-padding-mobile: var(--space-2) 0;

    .link {
      --nav-link-color: var(--color-primary);
      --nav-link-transition: color 0.2s ease-in-out;
      --nav-link-font-size: var(--font-size-16);
      --nav-link-padding-bottom: var(--space-1);

      --nav-link-hover-color: var(--color-primary-dark);

      --nav-link-hover-color: var(--color-primary-dark);
      --nav-link-border-bottom: 2px solid var(--color-primary-dark);
    }
  }

  /* Section */
  .section {
    --section-bg: var(--color-gray-100);
    --section-color: var(--color-text-dark);
    --section-bg-minor: var(--color-gray-200);
    --section-color-minor: var(--color-text-dark);
    --section-padding: var(--space-2);
    --section-gap: var(--space-2);
    --section-content-max-width: 1200px;

    --section-padding-tablet: var(--space-1);
    --section-gap-tablet: var(--space-1);

    --section-padding-mobile: var(--space-1);
  }

  /*Logo*/
  .logo {
    --logo-width: 100px;
    --logo-height: 100px;
  }
}
