:root {
  --grid-column-gap: 1rem;
  --grid-row-gap: 1rem;
  --grid-mobile-column-gap: 0.5rem;
  --grid-mobile-row-gap: 0.5rem;
}

body.dark-theme .grid {
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
}

body.dark-theme .grid.mobile-reverse {
  flex-direction: column-reverse;
}

body.dark-theme .btn {
  background-color: #343a40;
  color: white;
}

body.dark-theme .btn:hover {
  background-color: #23272b;
}
